
body {
    font-family: Arial;
    text-align: center;
    background-color: #f2f2f2;
    padding: 30px;
	
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: black;
    color: white;
    text-decoration: none;
}